const owo = require('../../utility/nekos.js');
// const config = require('config');
module.exports = {
    name: '',
    description: '',
    extended: '',
    usage: '',
    aliases: [],
    guildonly: false,
    developersOnly: false,
    args: false,
    category: 'OwO',
    memberPermission: '',
    botPermission: '',
    async execute(message, args) {
        const image = await owo.getImage('');
        const output = owo.embed(message.author)
            .setImage(image);
        message.channel.send(output);
    }
};